.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 3rem 0;
}
.products-heading {
  position: relative;
}
.products-heading span {
  color: #c7a17a;
}

.products-heading::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #c7a17a;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.products {
  border: 3px solid #c7a17a;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.1);
  /* - */
}

.img-container {
  /* width: 100%; */
  height: 20rem;
  overflow: hidden;
}
.product-image {
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.4s ease-in-out;
}
.product-image:hover {
  transform: scale(1.1);
}

.list-container {
  padding: 0 2rem;
  background-color: #f9f6f2;
  position: relative;
}

.product-name {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.75px;
  text-shadow: #000;
  border-bottom: 3px dotted #c7a17a;
  text-wrap: nowrap;
}

.product-price {
  font-size: 1.2rem;
  color: #6b6b6b;
  padding: 1rem;
}

.product-price span {
  margin-left: 0.5rem;
  font-size: 3rem;
  color: #000;
}

.products-description {
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  line-height: 1.5rem;
  height: 8rem;
}

.cart-btn-container {
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c7a17a;
  border-radius: 1rem;
  margin: 1rem 0;
}

.add-to-cart-icon {
  width: 3rem;
  height: 3rem;
  color: #504031;
}

.cart-btn {
  font-size: 1.8rem;
  flex-grow: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .products-heading {
    font-size: 2rem;
  }

  .products-heading::after {
    width: 100%;

    position: absolute;

    bottom: 0rem;
    transform: translate(-105%, 100%);
    text-align: center;
  }
}
